<form class="contact-form" action="https://formsubmit.co/christiaan.verhoef@dundir.com" method="POST">
  <input type="hidden" name="_cc" value="milan.jelisavcic@dundir.com">
  <input type="hidden" name="_subject" value="Contact via dundir.com">
  <input type="hidden" name="_captcha" value="false">
  <input type="hidden" name="_next" value="https://dundir.com/success.html">

  <div class="form-group">
    <label for="cf-name-{{ .Lang }}">
      {{ if eq .Lang "en" }}Name{{ else if eq .Lang "sr" }}Ime{{ else }}Naam{{ end }}
    </label>
    <input type="text" id="cf-name-{{ .Lang }}" name="name" autocomplete="name" required>
  </div>

  <div class="form-group">
    <label for="cf-company-{{ .Lang }}">
      {{ if eq .Lang "en" }}Company{{ else if eq .Lang "sr" }}Kompanija{{ else }}Bedrijf{{ end }}
    </label>
    <input type="text" id="cf-company-{{ .Lang }}" name="company" autocomplete="organization">
  </div>

  <div class="form-group">
    <label for="cf-email-{{ .Lang }}">
      {{ if eq .Lang "en" }}Email{{ else if eq .Lang "sr" }}Email{{ else }}E-mail{{ end }}
    </label>
    <input type="email" id="cf-email-{{ .Lang }}" name="email" autocomplete="email" required>
  </div>

  <div class="form-group">
    <label for="cf-message-{{ .Lang }}">
      {{ if eq .Lang "en" }}Message{{ else if eq .Lang "sr" }}Poruka{{ else }}Bericht{{ end }}
    </label>
    <textarea id="cf-message-{{ .Lang }}" name="message" rows="5" required></textarea>
  </div>

  <button type="submit" class="btn-primary">
    {{ if eq .Lang "en" }}Send message{{ else if eq .Lang "sr" }}Pošaljite poruku{{ else }}Stuur bericht{{ end }}
  </button>
</form>
